body {
    margin-right: 30%;
    font-family: "serif";
    display: flex;
}

#app {
    display: flex;
    flex-direction: row;
    gap: 10em;
    margin: 20%;
    margin-top: 10%;
    margin-right: 10%;
    padding: 10%;
    align-items: flex-start;
}

.inventory-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inventory-delete {
    background-color: red;
    border-radius: 30%;
    border-color: transparent;
    color: white;
}

.inventory-add {
    background-color: green;
    border-radius: 30%;
    border-color: transparent;
    color: white;
}

.cart-add {
    background-color: #0096FF;
    border-radius: 10%;
    border-color: transparent;
    color: white;
    width: 5em;
    height: 3em;
}

.cart-item {
    background-color: wheat;
    padding: 1em;
    border-radius: 5%;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
}

.cart-item-span {
    display: inline-block;
    text-overflow: ellipsis;
    width: 8em;
    white-space: nowrap;
    overflow: hidden;
}

.inventory-name-span {
    display: inline-block;
    text-overflow: ellipsis;
    width: 5em;
    white-space: nowrap;
    overflow: hidden;
}

.cart-delete {
    background-color: #0096FF;
    border-radius: 10%;
    border-color: transparent;
    color: white;
    width: 5em;
    height: 3em;
}

.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inventory-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    padding-left: 0em;
}

.inventory-item {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    background-color: wheat;
    padding: 1em;
    border-radius: 5%;
}

.cart-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cart-list {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    gap: 1em;
}

/* li {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: flex-start;
    justify-content: space-between;
} */